/* Master Stylesheet
 * Any rule changes should be made in override.css, not here. */
/* tags */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  color: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5d5d5), to(whitesmoke));
  background: -webkit-linear-gradient(top, #d5d5d5, whitesmoke);
  background: -moz-linear-gradient(top, #d5d5d5, whitesmoke);
  background: -ms-linear-gradient(top, #d5d5d5, whitesmoke);
  background: -o-linear-gradient(top, #d5d5d5, whitesmoke);
  background-color: whitesmoke;
  font: normal normal 300 105%/1.45em "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
  overflow: scroll;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  max-width: 100%;
}

ol, ul {
  list-style-position: inside;
}

a {
  font-weight: 400;
  color: #c62f2f;
}

a:hover {
  text-decoration: none;
}

hr {
  display: none;
}

/* page border */
#body-border {
  height: 0.5em;
  background: #111111 url("../img/woods/dark.png") repeat top left;
}

/* header */
h1 {
  max-width: 43em;
  margin: 1em auto 0 auto;
  padding: 0 1.5em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
}
h1 span {
  padding: 0 0.6em;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  color: #f0f0f0;
  background: #111111 url("../img/woods/dark.png") repeat top left;
}

/* nav */
nav ul {
  position: relative;
  top: -1.7em;
  max-width: 43em;
  margin: 0 auto 2em auto;
  padding: 0 1.5em;
  list-style: none;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
nav ul li {
  display: inline-block;
  width: 49%;
}
nav ul li a {
  text-decoration: none;
  color: #666666;
}
nav ul li a:hover {
  color: #111111;
}

/* content */
article {
  max-width: 43em;
  margin: 0 auto;
  padding: 0 1.5em;
  overflow: auto;
}
article section {
  width: 100%;
  overflow: auto;
}
article aside {
  position: relative;
  top: 0.75em;
  line-height: 1em;
}
article aside div {
  width: 100%;
}
article .left {
  float: left;
  width: 14%;
  font-size: 0.9em;
  letter-spacing: -0.1em;
  text-align: center;
  text-transform: uppercase;
}
article .right {
  float: right;
  width: 86%;
  padding: 0 0 1.5em 3%;
  border-left: 1px solid #111111;
}
article section:last-child > .right {
  padding-bottom: 0;
}
article h2 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.25em;
}
article h2 a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}
article h2 a:hover {
  text-decoration: underline;
}
article h2.right {
  padding-bottom: 0.2em;
}
article .writing > * {
  margin-bottom: 1.5em;
}
article .writing > h1, article .writing > h2, article .writing > h3, article .writing > h4, article .writing > h5, article .writing > h6 {
  margin-bottom: 0.25em;
}
article .writing *:last-child {
  margin-bottom: 0;
}
article .writing blockquote {
  margin-left: 2em;
  padding: 0.75em;
  border-left: 0.5em solid #c62f2f;
  background-color: gainsboro;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
article .writing blockquote p {
  display: inline;
}
article .writing blockquote:before {
  padding-right: 0.1em;
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
article .writing ol, article .writing ul {
  margin-left: 2em;
}
article .writing .fullentry {
  margin: 1em 0 0 0;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
}
article #tag-post-list li {
  display: inline-block;
  width: 33.3%;
  padding-right: 3%;
  list-style: none;
}
article #tag-post-list li:before {
  content: "#";
}
article .tag-page-list {
  list-style: none;
}

article + article {
  margin-top: 2em;
}

/* blurb */
footer {
  margin: 3em 0 1em 0;
  padding: 1.5em 0;
  background: #111111 url("../img/woods/dark.png") repeat top left;
  overflow: auto;
}

#blurb {
  max-width: 43em;
  margin: 0 auto;
  padding: 0 1.5em;
  color: #f0f0f0;
}
#blurb section, #blurb div, #blurb li {
  box-sizing: border-box;
}
#blurb #blurb-left {
  float: left;
  width: 75%;
  padding-right: 1em;
}
#blurb #blurb-left #blurb-left-bottom {
  padding-top: 1em;
}
#blurb #blurb-left #blurb-left-bottom #colophon {
  float: left;
  width: 55%;
  padding-right: 1em;
}
#blurb #blurb-left #blurb-left-bottom #elsewhere {
  float: left;
  width: 45%;
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 1em 0 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.dribbble {
  background-image: url(../img/icons/dribbble-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.email {
  background-image: url(../img/icons/email-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.facebook {
  background-image: url(../img/icons/facebook-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.googleplus {
  background-image: url(../img/icons/google+-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.github {
  background-image: url(../img/icons/github-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.linkedin {
  background-image: url(../img/icons/linkedin-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.meetup {
  background-image: url(../img/icons/meetup-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.spotify {
  background-image: url(../img/icons/spotify-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.rss {
  background-image: url(../img/icons/feed-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.twitter {
  background-image: url(../img/icons/twitter-16x16.png);
}
#blurb #blurb-left #blurb-left-bottom #elsewhere li.wide {
  width: 100%;
}
#blurb #blurb-right {
  float: right;
  width: 25%;
}
#blurb #blurb-right #projects {
  padding-bottom: 1em;
}
#blurb h2 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #999999;
}
#blurb ul {
  list-style: none;
}

/* copyright */
#copyright {
  max-width: 43em;
  margin: 1.5em auto;
  padding: 0 1.5em;
  font-size: 0.8em;
  text-align: center;
}
