\---
layout: layout
title: 404 Error
\---

%article
    %h2.right Houston, We Have A Problem...
    %aside.left
        %div <strong>404</strong>
        %div Error 

    %p.right ...that page has disappeared (or it didn't exist).
