!!!5

-# Site built upon the 'Timber' theme by Graeme Russell, see https://github.com/bytes42/timber 
-# for source code and licensing

-# HTML pre-processed with HAML

%html{ :lang => "en"}
    %head
        {% if page.title %}
        %title {{ site.name }} - {{ page.title }}
        {% else %}
        %title {{ site.name }}
        {% endif %}

        %meta{ :name => "author", :content => "{{ site.author }}" }
        %meta{ :name => "description", :content => "{{ site.description }}" } 
        %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }

        <!--[if ! lt IE 9]><!-->
        %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700", :media => "screen, projection" }
        %link{ :rel => "stylesheet", :href => "{{ site.baseurl }}/css/stylesheet.css", :media => "screen, projection" }
        %link{ :rel => "stylesheet", :href => "{{ site.baseurl }}/css/override.css", :media => "screen, projection" }
        <!--<![endif]-->

        <!--[if (IE 7)|(IE 8)]>
        %script{ :src => "{{ site.baseurl }}/scripts/html5.js" }
        :javascript
            (function() {
                var link = document.createElement("link");
                link.rel = "stylesheet";
                link.href = "{{ site.baseurl }}/css/stylesheet.css";
                document.getElementsByTagName("head")[0].appendChild(link);
                link.href = "{{ site.baseurl }}/css/override.css";
                document.getElementsByTagName("head")[0].appendChild(link);
                link.href = "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700";
                document.getElementsByTagName("head")[0].appendChild(link);
            })();
        <![endif]-->

        <!--[if lt IE 9]>
        %noscript
            %link{ :rel => "stylesheet", :href => "{{ site.baseurl }}/css/basic.css", :media => "screen, projection" }
        <![endif]-->

        {% if site.favicon %}
        %link{ :rel => "shortcut icon", :href => "{{ site.baseurl }}/favicon.ico" }
        {% endif %}
        
        %script{ :src => "{{ site.baseurl }}/scripts/jquery-1.8.3.min.js" }
        %script{ :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c739b234bf5b65" }
      
        -#
            AddThis social sharing settings
        :javascript
            var adddthis_config = 
            {
                "data_track_addressbar":true,
                "username":{{ site.addthis_username }},
                "data_track_callback":true
            };
            
        -#
            Adds some on click events to elements in the site such that they toggle
            their CSS display property. Initially set hidden (default to displayed 
            incase user has JS turned off)
        :javascript
            $(document).ready(function(){
                $('.excerpt').css("display", "none");
                $('.show-excerpt').click(function(e){
                    $(this).closest("article").find("section").slideToggle();
                });
            });

        -#
            Scroll smoothly link anchor targets
        :javascript
            $(document).ready(function(){
                $("#blurb-link").click(function(event){		
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
                });
                $("#backtotop-link").click(function(event){		
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
                });
            });

    %body#top
        #body-border

        %h1
            %span {{ site.logo }}

        %nav
            %ul
                %li
                    %a#blurb-link{ :href => "#blurb", :title => "\"A short summary accompanying a creative work\"" } Blurb
                %li
                    %a{ :href => "{{ site.baseurl }}/", :title => "View a summary of all blog entries" } Blog

        %hr

        {{ content }}
 
        %hr 

        %footer
            #blurb
                #blurb-left
                    %section#about 
                        %h2 About
                        {% capture about %}{% include about.md %}{% endcapture %}
                        {{ about | markdownify }}
                    %section#blurb-left-bottom
                        %section#colophon 
                            %h2 Colophon
                            {% capture colophon %}{% include colophon.md %}{% endcapture %}
                            {{ colophon | markdownify }}
                        %section#elsewhere
                            %h2 Elsewhere
                            %ul
                                {% capture elsewhere %}{% include elsewhere.md %}{% endcapture %}
                                {{ elsewhere | markdownify }} 
                #blurb-right
                    %section#projects
                        %h2 Projects     
                        {% capture projects %}{% include projects.md %}{% endcapture %}
                        {{ projects | markdownify }} 
                    %section#backtotop
                        %h2 Back to Top
                        %p All good things must come to an end; time to <a id="backtotop-link" href="#top" title="Back to top">go back</a>.
                    
        %hr 

        %p#copyright Content &copy; {{ site.time | date: '%Y' }} {{ site.name }}, All Rights Reserved
