\---
layout: layout
\---

%article
    %header
        %h2.right {{ page.title }}
        %aside.left 
            %div <strong>{{ page.date | date: "%d %b" }}</strong>
            %div {{ page.date | date: "%Y" }} 

    %section{ :class =>"writing right" }
        {{ content }}

    {% if site.share_count > 0 %}
    %section
        %h3.left Share
        %div{ :class => "addthis_toolbox addthis_default_style right" }  
            {% for i in (2..site.share_count) %} 
            %a{ :class => "addthis_button_preferred_{{ i }}" }
            {% endfor %}       
            %a{ :class => "addthis_counter addthis_pill_style" }
    {% endif %}

    {% if site.show_tags %}
    %section
        %h3.left Tagged
        %ul#tag-post-list.right
            {% for tag in page.tags %}
            %li 
                %a{ :href => "{{ site.baseurl }}/tags/index.html#tag-{{ tag }}" } {{ tag }}
            {% endfor %} 
    {% endif %}
 
    {% if site.related_count > 0 %}
    %section
        %h3.left Related
        %ol.right
            {% for post in site.related_posts limit:site.related_count %}
            %li 
                %a{ :href => "{{ site.baseurl }}{{ post.url }}", :title => "Show '{{ post.title }}' entry" } {{ post.title }}
            {% endfor %}
    {% endif %}
