---
layout: layout
---
<article>
  <header>
    <h2 class='right'>{{ page.title }}</h2>
    <aside class='left'>
      <div><strong>{{ page.date | date: "%d %b" }}</strong></div>
      <div>{{ page.date | date: "%Y" }}</div>
    </aside>
  </header>
  <section class='writing right'>
    {{ content }}
  </section>
  {% if site.share_count > 0 %}
  <section>
    <h3 class='left'>Share</h3>
    <div class='addthis_toolbox addthis_default_style right'>
      {% for i in (2..site.share_count) %}
      <a class='addthis_button_preferred_{{ i }}'></a>
      {% endfor %}
      <a class='addthis_counter addthis_pill_style'></a>
    </div>
  </section>
  {% endif %}
  {% if site.show_tags %}
  <section>
    <h3 class='left'>Tagged</h3>
    <ul class='right' id='tag-post-list'>
      {% for tag in page.tags %}
      <li>
        <a href='{{ site.baseurl }}/tags/index.html#tag-{{ tag }}'>{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  {% if site.related_count > 0 %}
  <section>
    <h3 class='left'>Related</h3>
    <ol class='right'>
      {% for post in site.related_posts limit:site.related_count %}
      <li>
        <a href='{{ site.baseurl }}{{ post.url }}' title="Show '{{ post.title }}' entry">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ol>
  </section>
  {% endif %}
</article>
